/*This is my main  stylesheet*/


nav {
    font-family: 'Patrick Hand', Verdana;
    display: flex;
    border-bottom: 3px solid black;
    padding: 25px 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.navlinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

nav > img {
    width: 150px;
    height: 150px;
    padding: 0px;
    margin: 0px;
}

.link {
    color: black;
    text-decoration: none;

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header > h1{
    font-family: 'Patrick Hand', Verdana;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

body{
    min-height: 100vh;
}

#container1{
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: repeat(4, 100px);
    row-gap: 15px;
    -webkit-row-gap: 15px;
    font-family: 'Patrick Hand', Verdana;
    border-bottom: 3px solid black;
    min-height: 100vh;
    padding-bottom: 2.5rem; 
}

.grid {
	justify-items: stretch;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	background-color: tan;
	padding: 10px;
	width:auto;
	height: auto;
	font-size: 30px;
	border-radius: 5px;
	margin: 0px;
	column-gap: 0px;
}

.grid > div {
	background-color: lightblue;
	width:auto;
	height: auto;
	text-align: center;
	padding: 0px;
}
}

main > div {
    display: grid;
    grid-template-rows: 12px;
    row-gap: 5px;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    justify-items: center
}

footer > p{
	font-size:2px;
    color: white;
}

footer { 
	border-top: 3px solid black;
	display: flex; 
	justify-content: space-between;  
    background-color: black;
    font-size: 10px;
	margin: 10px 0;
}