/*This is my main  stylesheet*/


nav {
    font-family: 'Patrick Hand', Verdana;
    display: flex;
    border-bottom: 3px solid black;
    padding: 25px 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}

.navlinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

nav > img {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.link{
    color: royalblue;
    text-decoration: underline;
}

a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
    font-family: 'Patrick Hand', Verdana;
    background-image: url(../images/musicnotes.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-bottom: 3px solid black;
    text-align: center;
}

header > h1{
    background-color: royalblue;
    font-size: 50px;
    align-content: center;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: black;
    border-bottom: 3px solid black;
}

body{
    min-height: 100vh;
}

.container1 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

.container1 > div {
	background-color:skyblue;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

.container2 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

.container2 > div {
	background-color: lightblue;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

.container3 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

.container3 > div {
	background-color:skyblue;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

.container4 {
	display: grid;
    align-items: stretch;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
    justify-content: stretch;
	background-color: white;
	padding: 10px;
	font-size: 30px;
}

.container4 > div {
	background-color:lightblue;
	text-align: center;
    font-family: 'Patrick Hand', Verdana;
}

img {
    display:grid;
    height: 400px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}

/* delete div grid from mobile view, add to tablet view */

/* add paragraph styling to tablet, keep in mobile as well */
.img1 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img2 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}


.img3 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}


.img4 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img5 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img6 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img7 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img8 > p{
    text-align: center;
    grid-column: 1/3;
    font-family: 'Patrick Hand', Verdana;
}

.img_artist{
    background-color:lightcyan;
}

.img_concert{
    background-color:skyblue;
}

.top5{
    padding: 15px;
    background-color: lightcyan;
    border-bottom: 10px solid black;
}

.songname{
    background-color: lightcyan;
    font-size: 35px;
    font-style: bold;
}

.artist{
    padding: 15px;
    background-color: lightcyan;
    border-bottom: 10px solid black; 
}

.concert{
    padding: 15px;
    background-color: skyblue;
    font-size: 35px;
    font-style: bold;
    border-bottom: 10px solid black;
}

footer > p{
	font-size: 20px;
    color: white;
}

footer { 
	border-top: 10px solid black;
    border-bottom: 10px solid black;
	display: flex; 
	justify-content: center;  
    background-color: black;
    font-size: 10px;
	margin: 0;
}

@media screen and (min-width: 500px){

/* This will modify the skip to content item */
main {
    color: black;
    margin: 10px 0;
}

div .img1{
    display: grid;
    grid-row: 1/2
}

div .img2{
    display: grid;
    grid-row: 2/3
}

div .img3{
    display: grid;
    grid-row: 3/4
}

div .img4{
    display: grid;
    grid-row: 4/5
}

div .img5{
    display: grid;
    grid-row: 5/6
}

div .img6{
    display: grid;
    grid-row: 6/7
}
div .img7{
    display: grid;
    grid-row: 7/8
}

div .img8{
    display: grid;
    grid-row: 8/9
}

.imgcol1{
    background-color:lightcyan;
    grid-column: 1/2;
}

.imgcol2{
    background-color:lightcyan;
    grid-column: 2/3;
}

}
